<footer class="black">
        <div class="foot-contain">
            <div class="link-one">
            <h4>Solo Boost</h4>
           <ul>
                      <li><a href="">Solo Division</a></li>
                      <li><a href="">Solo Placements</a></li>
                      <li><a href="">Solo Net Wins</a></li>
                    </ul>
        </div>
        <div class="link-two">
             <h4>Duo Boost</h4>
            <ul>
                      <li><a href="">Duo Division</a></li>
                      <li><a href="">Duo Placements</a></li>
                      <li><a href="">Duo Net Wins</a></li>
                      <li><a href="">Demo</a></li>
                    </ul>
        </div>
         <div class="link-three">
             <h4>Contact</h4>
            <ul>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Live Chat</a></li>
                <li><a href="">Members Area</a></li>
                <li><a href="">Knowledgebase</a></li>
            </ul>
        </div>
       <div class="link-four">
             <h4>Connect with Us</h4>
            <ul>
                        <li class="hvr-bob"><a href="https://facebook.com"><img src="../static/img/fb.png" alt=facebook">
    </a></li>
                <li class="hvr-bob"><a href="https://twitter.com"><img src="../static/img/tw.png" alt="twitter">
    </a></li>
               <li class="hvr-bob"><a href="https://instagram.com"><img src="../static/img/insta.png" alt="instagram">
    </a></li>
    </ul>
            <h5>©2018 Company Name. All Right Reserved</h5>   
        </div>
    
        </div>
    </footer>